<div data-banner="data-banner">
  <div class="actions">
    <a href="{{ page.edit_url }}" title="Improve the page on GitHub" class="edit-page-link">
      <span class="edit-page-line1">
        <span class="edit-page-icon">
          {% set icon = config.theme.icon.edit or "material/file-edit-outline" %}
          {% include ".icons/" ~ icon ~ ".svg" %}
        </span>
        <span class="edit-page-text">
          Improve the page
        </span>
      </span>
      <span class="edit-page-line2">
        on GitHub
      </span>
    </a>    
  </div>
</div>