@media print {
    /* Adjusts positioning of admonition icon */
    .md-typeset :is(.admonition-title,summary):before {
      top: 0.6rem;
      left: 0.6rem;
    }
  } 

.md-sidebar__inner {
    font-size: 0.65rem;   /* Font size */
    line-height: 1.6;
}

.edit-page-icon svg {
  width: 1.7em;
  height: 1.7em;
  margin-right: 0.4em;
  fill: currentColor;
}

.edit-page-box {            
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  border: 2px solid #127ae8;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.1em;
  color: #127ae8;
  background-color: transparent;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
  margin-top: 0rem;
  cursor: pointer;
}

.edit-page-box:hover {
  background-color: transparent;
  color: #439eff;
  transform: translateY(-2px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
                