@media print {
    /* Adjusts positioning of admonition icon */
    .md-typeset :is(.admonition-title,summary):before {
      top: 0.6rem;
      left: 0.6rem;
    }
  } 

.md-sidebar__inner {
    font-size: 0.65rem;   /* Font size */
    line-height: 1.6;
}

.md-content__button.md-icon {
  color: #ff7e1a !important;  /* Example: deep orange */
}

/* Optional: hover effect */
.md-content__button.md-icon:hover {
  color: #ffa966 !important;
}

.md-content__button.md-icon svg {
  width: 34px;
  height: 34px;
}

.md-content__button.md-icon[href*="/edit/"] {
  display: inline-flex;          /* make the button a flex container */
  flex-direction: column;        /* stack children vertically */
  align-items: center;           /* center them horizontally */
}

.md-content__button.md-icon[href*="/edit/"] svg {
  width: 34px;
  height: 34px;
}

.md-content__button.md-icon[href*="/edit/"]::after {
  content: "Edit this page";
  margin-top: 4px;
  font-size: 0.7rem;
  color: #2C323E;
  text-align: center;
  display: block;
  width: 100%;
}

