@media print {
    /* Adjusts positioning of admonition icon */
    .md-typeset :is(.admonition-title,summary):before {
      top: 0.6rem;
      left: 0.6rem;
    }
  } 

.md-sidebar__inner {
    font-size: 0.65rem;   /* Font size */
    line-height: 1.6;
}

.edit-page-link {
  display: inline-block; /* shrink to content width */
  text-decoration: none;
  color: var(--md-typeset-a-color);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: left; /* align left inside container */
}

/* First line: icon + text inline */
.edit-page-line1 {
  padding-left: calc(0.5em);
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.edit-page-icon svg {
  width: 2em;   /* Bigger width */
  height: 2em;  /* Bigger height */
  fill: currentColor;
  display: block;
  padding-left: calc(0.5em);
}

.edit-page-line2 {
  padding-left: calc(4.5em);
  line-height: 1.2;
  white-space: nowrap;
}
