.rating-widget:hover {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 2px 4px -1px rgba(0, 0, 0, 0.20);
    transition: all 0.2s ease-out;
  }
  
  .rating-widget:hover,
  #feedback-form:hover {
    box-shadow:
      0px 1px 10px 0px rgba(0, 0, 0, 0.12),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 2px 4px -1px rgba(0, 0, 0, 0.20);
  }
  
  .rating-widget .rating-title {
    color: var(--md-typeset-a-color, #0E5FB5);
  }
  
  @media (prefers-color-scheme: dark) {
    .rating-widget .rating-title {
      color: var(--md-typeset-a-color, #93C7FF) !important;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    #submit-feedback {
      background-color: var(--md-typeset-a-color, #93C7FF) !important;
    }
  }
  #feedback-status {
    color: var(--md-typeset-a-color);
  }
  
  @media (prefers-color-scheme: dark) {
    #feedback-status {
      color: var(--md-typeset-a-color, #93C7FF) !important;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    #submit-feedback {
    color: var(--md-default-fg-color--lightest) !important;

    }
  }

/* Light mode: Send button text white */
#submit-feedback {
    color: white !important;
  }
  
  /* Dark mode: Send button text grey */
  @media (prefers-color-scheme: dark) {
    #submit-feedback {
      color: #999 !important;
    }
  }