{# Import the theme's layout. #}
{% extends "base.html" %}

{% block scripts %}
<script src="https://cmp.osano.com/Azqe5vTyLOSbN3OuT/49ad85b5-0418-4794-ab81-7599dddd534c/osano.js"></script>
{{ super() }}
{% endblock %}

{%- macro relbar2 () %}
<div class="md-relbar2__inner md-grid">
<div class="md-content">
  <article class="md-content__inner md-typeset" role="main">    
    <h4>Contact Us </h4>
       <p>For free technical help, visit the Percona <a class="reference external" href="https://forums.percona.com/c/mysql-mariadb/percona-server-for-mysql-5-7/18" target="_blank">Community Forum</a>.<br>
        <p>To report bugs or submit feature requests, open a <a class="reference external" href="https://jira.percona.com/projects/PS/issues/" target="_blank">JIRA</a> ticket.<br>
         <p>For paid <a class="reference external" href="https://www.percona.com/services/support"> support </a> and <a class="reference external" href="https://www.percona.com/services/managed-services"> managed </a> or <a class="reference external" href="https://www.percona.com/services/consulting">consulting services </a>, contact <a class="reference external" href="https://www.percona.com/about-percona/contact" target="_blank">Percona Sales</a>.</p>
  </article>
</div>
</div>

{%- endmacro %}
              
               {% block outdated %}
               <div><strong>Starting November 2023, MySQL 5.7 has reached EOL status.</strong></p></div>
               <div>Do you need help upgrading to MySQL 8.0? Do you need to stay on MySQL 5.7 a bit longer? We will support you either way. <a href="https://www.percona.com/navigating-mysql-5-7-end-of-life"> <strong> Learn more </strong></a></div> 
               {% endblock %}

               {% block extrahead %}
               {{ super() }}
                 {% set title = config.site_name %}
                 {% if page and page.meta and page.meta.title %}
                 {% set title = title ~ " - " ~ page.meta.title %}
                 {% elif page and page.title and not page.is_homepage %}
                 {% set title = title ~ " - " ~ page.title %}
                 {% endif %}
                 <meta property="og:type" content="website" />
                 <meta property="og:title" content="{{ title }}" />
                 <meta property="og:url" content="https://docs.percona.com/percona-server/5.7/" />
                 <meta property="og:image" content="https://docs.percona.com/percona-server/5.7/_static/percona-mysql-logo.png" />
               {% endblock %}

               {% block site_nav %}
               {% if nav %}
                 {% if page.meta and page.meta.hide %}
                   {% set hidden = "hidden" if "navigation" in page.meta.hide %}
                 {% endif %}
                 <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
                   <div class="md-sidebar__scrollwrap">
                     <div class="md-sidebar__inner">
                       {% include "partials/nav.html" %}
                       <br>
                       <label class="md-nav__title" for="__drawer">
                  <a href="https://learn.percona.com/download-percona-server-5-7-manual" onclick="_gaq.push(['b._trackEvent', 'Percona Server', 'Download', 'Download Manual Percona Server']);" class="md-nav__link md-nav__link--active">
                    Download PDF
                  </a>
     </label> 
                     </div>
                   </div>
                 </div>
               {% endif %}
               {% if "toc.integrate" not in features %}
                 {% if page.meta and page.meta.hide %}
                   {% set hidden = "hidden" if "toc" in page.meta.hide %}
                 {% endif %}
                 <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
                   <div class="md-sidebar__scrollwrap">
                     <div class="md-sidebar__inner">
                       {% include "partials/toc.html" %}
                     </div>
                   </div>
                 </div>
               {% endif %}
             {% endblock %}

